In [26]:
import pandas as pd
import random

nombres_comunes = ['Juan', 'María', 'Pedro', 'Laura', 'Carlos', 'Sofía', 'Martín', 'Valentina', 'Lucas', 'Agustina',
                   'Mateo', 'Camila', 'Nicolás', 'Florencia', 'Santiago', 'Julieta', 'Sebastián', 'Lucía', 'Tomás', 'Martina',
                   'Benjamín', 'Emilia', 'Joaquín', 'Antonella', 'Gabriel', 'Pilar', 'Felipe', 'Abril', 'Bruno', 'Olivia',
                   'Thiago', 'Catalina', 'Máximo', 'Victoria', 'Lautaro']
apellidos_comunes = ['González', 'Rodríguez', 'López', 'Pérez', 'Martínez', 'Gómez', 'Sánchez', 'Díaz', 'Romero', 'Suárez',
                     'Fernández', 'Torres', 'Vargas', 'Benítez', 'Flores', 'Acosta', 'Ruiz', 'Castro', 'Silva', 'Herrera',
                     'Moreno', 'Núñez', 'Bianchi', 'Ferrari', 'Russo', 'Espósito', 'Ricci', 'Colombo', 'Vega', 'Pereyra',
                     'Mendoza', 'García', 'Gutierrez', 'Juárez', 'Luna']

n_alumnos = 35

# Generar listas separadas de nombres y apellidos aleatorios
nombres = [random.choice(nombres_comunes) for _ in range(n_alumnos)]
apellidos = [random.choice(apellidos_comunes) for _ in range(n_alumnos)]

# Generar DNI aleatorios
dnis = random.sample(range(35000000, 40000001), n_alumnos)

n_min_nota = 2  # Define el valor mínimo para las notas
primer_parcial = [random.randint(n_min_nota, 10) for _ in range(n_alumnos)]
segundo_parcial = [random.randint(n_min_nota, 10) for _ in range(n_alumnos)]

# Crear el DataFrame con DNI como índice y columnas separadas para Nombre y Apellido
df_alumnos = pd.DataFrame({'Nombre': nombres,
                           'Apellido': apellidos,
                           'primer_parcial': primer_parcial,
                           'segundo_parcial': segundo_parcial},
                          index=dnis)

# Crear las columnas vacías restantes
df_alumnos['promoción'] = None
df_alumnos['recuperatorio'] = None
df_alumnos['final'] = None
df_alumnos['condicion'] = None

df_alumnos

,Nombre,Apellido,primer_parcial,segundo_parcial,promoción,recuperatorio,final,condicion
35742298,Thiago,Acosta,5,3,None,None,None,None
37680592,Catalina,Ruiz,7,9,None,None,None,None
39405145,Agustina,Vargas,7,9,None,None,None,None
36850133,Thiago,Herrera,6,7,None,None,None,None
37321381,Camila,Torres,5,10,None,None,None,None
36664264,Mateo,Moreno,4,4,None,None,None,None
36153476,Pedro,Ruiz,8,5,None,None,None,None
36880102,Máximo,López,5,5,None,None,None,None
38322044,Joaquín,Herrera,10,8,None,None,None,None
35820533,Felipe,Núñez,9,8,None,None,None,None
39439978,Joaquín,Vega,4,9,None,None,None,None
35222628,Emilia,Fernández,9,8,None,None,None,None
38294426,Agustina,Suárez,3,4,None,None,None,None
39900465,Martín,Silva,10,7,None,None,None,None
39519182,Juan,Herrera,3,8,None,None,None,None
38327901,Felipe,Russo,8,10,None,None,None,None
36091812,Florencia,Romero,9,4,None,None,None,None
36140294,Emilia,Castro,7,10,None,None,None,None
37302202,Victoria,Russo,4,2,None,None,None,None
39589631,Antonella,García,3,6,None,None,None,None
35578938,Nicolás,Mendoza,7,3,None,None,None,None
37023535,Lautaro,Moreno,7,2,None,None,None,None
39362935,Máximo,Bianchi,8,3,None,None,None,None
35237642,Laura,Luna,10,6,None,None,None,None
35503560,Sebastián,Espósito,5,7,None,None,None,None
37998499,Florencia,Acosta,5,9,None,None,None,None
38910856,Antonella,Sánchez,6,2,None,None,None,None
37976781,Nicolás,Romero,8,3,None,None,None,None
35263764,Martina,Colombo,4,9,None,None,None,None
39882342,Emilia,Mendoza,4,7,None,None,None,None
37053676,Máximo,Suárez,4,10,None,None,None,None
35244605,Sofía,Colombo,8,5,None,None,None,None
36572775,Carlos,López,5,8,None,None,None,None
35993509,Lautaro,Luna,7,2,None,None,None,None
37649909,Abril,Ricci,8,8,None,None,None,None

In [27]:
df_alumnos = df_alumnos[['Apellido', 'Nombre', 'primer_parcial', 'segundo_parcial', 'promoción', 'recuperatorio', 'final', 'condicion']]

In [28]:
df_alumnos

,Apellido,Nombre,primer_parcial,segundo_parcial,promoción,recuperatorio,final,condicion
35742298,Acosta,Thiago,5,3,None,None,None,None
37680592,Ruiz,Catalina,7,9,None,None,None,None
39405145,Vargas,Agustina,7,9,None,None,None,None
36850133,Herrera,Thiago,6,7,None,None,None,None
37321381,Torres,Camila,5,10,None,None,None,None
36664264,Moreno,Mateo,4,4,None,None,None,None
36153476,Ruiz,Pedro,8,5,None,None,None,None
36880102,López,Máximo,5,5,None,None,None,None
38322044,Herrera,Joaquín,10,8,None,None,None,None
35820533,Núñez,Felipe,9,8,None,None,None,None
39439978,Vega,Joaquín,4,9,None,None,None,None
35222628,Fernández,Emilia,9,8,None,None,None,None
38294426,Suárez,Agustina,3,4,None,None,None,None
39900465,Silva,Martín,10,7,None,None,None,None
39519182,Herrera,Juan,3,8,None,None,None,None
38327901,Russo,Felipe,8,10,None,None,None,None
36091812,Romero,Florencia,9,4,None,None,None,None
36140294,Castro,Emilia,7,10,None,None,None,None
37302202,Russo,Victoria,4,2,None,None,None,None
39589631,García,Antonella,3,6,None,None,None,None
35578938,Mendoza,Nicolás,7,3,None,None,None,None
37023535,Moreno,Lautaro,7,2,None,None,None,None
39362935,Bianchi,Máximo,8,3,None,None,None,None
35237642,Luna,Laura,10,6,None,None,None,None
35503560,Espósito,Sebastián,5,7,None,None,None,None
37998499,Acosta,Florencia,5,9,None,None,None,None
38910856,Sánchez,Antonella,6,2,None,None,None,None
37976781,Romero,Nicolás,8,3,None,None,None,None
35263764,Colombo,Martina,4,9,None,None,None,None
39882342,Mendoza,Emilia,4,7,None,None,None,None
37053676,Suárez,Máximo,4,10,None,None,None,None
35244605,Colombo,Sofía,8,5,None,None,None,None
36572775,López,Carlos,5,8,None,None,None,None
35993509,Luna,Lautaro,7,2,None,None,None,None
37649909,Ricci,Abril,8,8,None,None,None,None

### Si queremos aplicar una operación por filas, lo mejor es utilizar el método .apply con la opción axis = 1 

### df.apply(mi_funcion_sobre_filas, axis = 1) pasará a mi_funcion_sobre_filas cada fila del df.

In [29]:
# Ejemplo 1: supongamos que queremos ver el mínimo de la nota

def min_nota(fila):
    return pd.Series({'Min Parcial': min(fila['primer_parcial'], fila['segundo_parcial'])})

df_alumnos.apply(min_nota, axis = 1)

          Min Parcial
35742298            3
37680592            7
39405145            7
36850133            6
37321381            5
36664264            4
36153476            5
36880102            5
38322044            8
35820533            8
39439978            4
35222628            8
38294426            3
39900465            7
39519182            3
38327901            8
36091812            4
36140294            7
37302202            2
39589631            3
35578938            3
37023535            2
39362935            3
35237642            6
35503560            5
37998499            5
38910856            2
37976781            3
35263764            4
39882342            4
37053676            4
35244605            5
36572775            5
35993509            2
37649909            8

In [30]:
def min_nota_con_nombre_separado(fila):
    min_parcial = min(fila['primer_parcial'], fila['segundo_parcial'])
    apellido = fila['Apellido']
    nombre = fila['Nombre']
    return pd.Series({'Apellido': apellido, 'Nombre': nombre, 'Min Parcial': min_parcial})

df_alumnos.apply(min_nota_con_nombre_separado, axis=1)

           Apellido     Nombre  Min Parcial
35742298     Acosta     Thiago            3
37680592       Ruiz   Catalina            7
39405145     Vargas   Agustina            7
36850133    Herrera     Thiago            6
37321381     Torres     Camila            5
36664264     Moreno      Mateo            4
36153476       Ruiz      Pedro            5
36880102      López     Máximo            5
38322044    Herrera    Joaquín            8
35820533      Núñez     Felipe            8
39439978       Vega    Joaquín            4
35222628  Fernández     Emilia            8
38294426     Suárez   Agustina            3
39900465      Silva     Martín            7
39519182    Herrera       Juan            3
38327901      Russo     Felipe            8
36091812     Romero  Florencia            4
36140294     Castro     Emilia            7
37302202      Russo   Victoria            2
39589631     García  Antonella            3
35578938    Mendoza    Nicolás            3
37023535     Moreno    Lautaro            2
39362935    Bianchi     Máximo            3
35237642       Luna      Laura            6
35503560   Espósito  Sebastián            5
37998499     Acosta  Florencia            5
38910856    Sánchez  Antonella            2
37976781     Romero    Nicolás            3
35263764    Colombo    Martina            4
39882342    Mendoza     Emilia            4
37053676     Suárez     Máximo            4
35244605    Colombo      Sofía            5
36572775      López     Carlos            5
35993509       Luna    Lautaro            2
37649909      Ricci      Abril            8

In [31]:
import pandas as pd

data = {'Nombre': ['Ana', 'Juan'],
        'Edad': [25, 30],
        'Ciudad': ['Buenos Aires', 'Córdoba']}
df = pd.DataFrame(data)

def mostrar_fila(row):
    print(f"Fila con índice {row.name}:")
    print(f"  Nombre: {row['Nombre']}")
    print(f"  Edad: {row['Edad']}")
    print(f"  Ciudad: {row['Ciudad']}")
    print("-" * 20)
    # No es necesario devolver nada si solo quieres visualizar
    # pero .apply() espera un valor de retorno (puede ser None)
    return None

df.apply(mostrar_fila, axis=1)

Fila con índice 0:
  Nombre: Ana
  Edad: 25
  Ciudad: Buenos Aires
--------------------
Fila con índice 1:
  Nombre: Juan
  Edad: 30
  Ciudad: Córdoba
--------------------

0    None
1    None
dtype: object

In [47]:
df_1 = pd.read_excel('algoritmos_siu.ods', usecols= 'B, C')

df = pd.read_excel('algoritmos_siu.ods',usecols= 'B, C'  ,index_col= [0])

df

                                          Alumno
Legajo
17895036                  ABALLAY, MARIA CECILIA
45929002                     ACEVEDO, ZOE AYELEN
44150294              ANDRADE, MILAGROS MAKARENA
41139248                  ASCUY, LOURDES SABRINA
35606734                       ASTUDILLO, GISELE
45371034         AYALA VARGAS, SANTIAGO EZEQUIEL
42881680                          Almirón, Karen
34020115                  BAREIRO, VICTOR DAMIAN
22230623                   BENÍTEZ, ELISA SUSANA
18342032                      BRAVO, VÌCTOR HUGO
45778649                          CABRERA, KIARA
43252030                  CASIMIRO, CAMILA ANAHÍ
43325806                    CASTRO, ORIANA BELÉN
40378419                 CHAVEZ, CAMILA JEANETTE
23974815                 CUELLO, CLAUDIA MARCELA
48090866                DECHANDT, MELANIE MAGALI
33294648                         DIAZ, ELIZABETH
46644093               ESCOBAR, PRISCILA ABIGAIL
30251899                FERNANDEZ, ELIANA VANESA
35754004                 FERRERO, MICAELA ESTHER
47399148               FLEITAS, ALEXIS ALEJANDRO
38943323               FRANCO, IVANNA DEL CARMEN
25597412                Flores, Claudia Elisabet
36645447                         GAZCÓN, SILVANA
41244192               GIMENEZ, GUADALUPE DENISE
44303225                        GUTIERREZ, BRISA
28897921                 HOSTACHE, VALERIA ANAHÍ
25358984                   LARROUDÉ, FLAVIA INÉS
22389320                       LOPEZ, ALBA ESTER
46634964                     LOZA, ROCIO CELESTE
23816071                  LUNA, HÉCTOR ALEJANDRO
35304509                 MAIDANA, MAIRA ELIZABET
42592027               MARTEL, PRISCILA MILAGROS
38081533                  MIÑO, EZEQUIEL NICOLAS
44643021                    MORENO, NAIARA AYLEN
37598696                  PABON, DANIELA SOLANGE
42592176                PAREDES, BRENDA AGOSTINA
46631605                  PERALTA, AGOSTINA NAIR
45581853  REVOLLO HUMACATA, LUCIANA DULCE MORENA
10704463                  RODRIGUEZ, ELBA SUSANA
24028297                   SANCHEZ, MARÍA JIMENA
22477158            SANTA CRUZ, ESTELA FRANCISCA
18889141          SANTINI GAMARRA, ROBERT LEONEL
48090839                    SCORSA, SOFIA CAMILA
47086022              SOSA NIEVAS, KEVIN RODRIGO
31606467                         Segovia, Tobias
43506094                  TORRES, CANDELA XIMENA
18097000                   VERON, MONICA ADRIANA

In [50]:
def separar_apellido_nombre(fila):
    """
    Separa el apellido y el nombre de la columna 'Alumno'.
    """
    alumno = fila['Alumno']
    partes = alumno.split(', ')
    apellido = partes[0]
    nombre = partes[1]
    return pd.Series({'Apellido': apellido, 'Nombre': nombre})
    

# Aplicar la función para crear las nuevas columnas
nuevas_columnas = df.apply(separar_apellido_nombre, axis=1)

# Concatenar las nuevas columnas al DataFrame original
df[['Apellido', 'Nombre']] = nuevas_columnas

# Eliminar la columna 'Alumno' original
df.drop('Alumno', axis=1, inplace=True)

df

                  Apellido                Nombre
Legajo
17895036           ABALLAY         MARIA CECILIA
45929002           ACEVEDO            ZOE AYELEN
44150294           ANDRADE     MILAGROS MAKARENA
41139248             ASCUY       LOURDES SABRINA
35606734         ASTUDILLO                GISELE
45371034      AYALA VARGAS     SANTIAGO EZEQUIEL
42881680           Almirón                 Karen
34020115           BAREIRO         VICTOR DAMIAN
22230623           BENÍTEZ          ELISA SUSANA
18342032             BRAVO           VÌCTOR HUGO
45778649           CABRERA                 KIARA
43252030          CASIMIRO          CAMILA ANAHÍ
43325806            CASTRO          ORIANA BELÉN
40378419            CHAVEZ       CAMILA JEANETTE
23974815            CUELLO       CLAUDIA MARCELA
48090866          DECHANDT        MELANIE MAGALI
33294648              DIAZ             ELIZABETH
46644093           ESCOBAR      PRISCILA ABIGAIL
30251899         FERNANDEZ         ELIANA VANESA
35754004           FERRERO        MICAELA ESTHER
47399148           FLEITAS      ALEXIS ALEJANDRO
38943323            FRANCO     IVANNA DEL CARMEN
25597412            Flores      Claudia Elisabet
36645447            GAZCÓN               SILVANA
41244192           GIMENEZ      GUADALUPE DENISE
44303225         GUTIERREZ                 BRISA
28897921          HOSTACHE         VALERIA ANAHÍ
25358984          LARROUDÉ           FLAVIA INÉS
22389320             LOPEZ            ALBA ESTER
46634964              LOZA         ROCIO CELESTE
23816071              LUNA      HÉCTOR ALEJANDRO
35304509           MAIDANA        MAIRA ELIZABET
42592027            MARTEL     PRISCILA MILAGROS
38081533              MIÑO      EZEQUIEL NICOLAS
44643021            MORENO          NAIARA AYLEN
37598696             PABON       DANIELA SOLANGE
42592176           PAREDES       BRENDA AGOSTINA
46631605           PERALTA         AGOSTINA NAIR
45581853  REVOLLO HUMACATA  LUCIANA DULCE MORENA
10704463         RODRIGUEZ           ELBA SUSANA
24028297           SANCHEZ          MARÍA JIMENA
22477158        SANTA CRUZ      ESTELA FRANCISCA
18889141   SANTINI GAMARRA         ROBERT LEONEL
48090839            SCORSA          SOFIA CAMILA
47086022       SOSA NIEVAS         KEVIN RODRIGO
31606467           Segovia                Tobias
43506094            TORRES        CANDELA XIMENA
18097000             VERON        MONICA ADRIANA

In [52]:
# Crear un DataFrame con las nuevas columnas y valores iniciales pd.NA
nuevas_notas = pd.DataFrame({
    'primer_parcial': pd.NA,
    'segundo_parcial': pd.NA,
    'final': pd.NA,
    'recuperatorio': pd.NA,
    'condicion': pd.NA
}, index=df.index)  # Aseguramos que el índice coincida

# Asignar este DataFrame a las nuevas columnas en df
df[['primer_parcial', 'segundo_parcial', 'final', 'recuperatorio', 'condicion']] = nuevas_notas

df

,Apellido,Nombre,primer_parcial,segundo_parcial,final,recuperatorio,condicion
Legajo,,,,,,,
17895036,ABALLAY,MARIA CECILIA,<NA>,<NA>,<NA>,<NA>,<NA>
45929002,ACEVEDO,ZOE AYELEN,<NA>,<NA>,<NA>,<NA>,<NA>
44150294,ANDRADE,MILAGROS MAKARENA,<NA>,<NA>,<NA>,<NA>,<NA>
41139248,ASCUY,LOURDES SABRINA,<NA>,<NA>,<NA>,<NA>,<NA>
35606734,ASTUDILLO,GISELE,<NA>,<NA>,<NA>,<NA>,<NA>
45371034,AYALA VARGAS,SANTIAGO EZEQUIEL,<NA>,<NA>,<NA>,<NA>,<NA>
42881680,Almirón,Karen,<NA>,<NA>,<NA>,<NA>,<NA>
34020115,BAREIRO,VICTOR DAMIAN,<NA>,<NA>,<NA>,<NA>,<NA>
22230623,BENÍTEZ,ELISA SUSANA,<NA>,<NA>,<NA>,<NA>,<NA>
18342032,BRAVO,VÌCTOR HUGO,<NA>,<NA>,<NA>,<NA>,<NA>
45778649,CABRERA,KIARA,<NA>,<NA>,<NA>,<NA>,<NA>
43252030,CASIMIRO,CAMILA ANAHÍ,<NA>,<NA>,<NA>,<NA>,<NA>
43325806,CASTRO,ORIANA BELÉN,<NA>,<NA>,<NA>,<NA>,<NA>
40378419,CHAVEZ,CAMILA JEANETTE,<NA>,<NA>,<NA>,<NA>,<NA>
23974815,CUELLO,CLAUDIA MARCELA,<NA>,<NA>,<NA>,<NA>,<NA>
48090866,DECHANDT,MELANIE MAGALI,<NA>,<NA>,<NA>,<NA>,<NA>
33294648,DIAZ,ELIZABETH,<NA>,<NA>,<NA>,<NA>,<NA>
46644093,ESCOBAR,PRISCILA ABIGAIL,<NA>,<NA>,<NA>,<NA>,<NA>
30251899,FERNANDEZ,ELIANA VANESA,<NA>,<NA>,<NA>,<NA>,<NA>
35754004,FERRERO,MICAELA ESTHER,<NA>,<NA>,<NA>,<NA>,<NA>
47399148,FLEITAS,ALEXIS ALEJANDRO,<NA>,<NA>,<NA>,<NA>,<NA>
38943323,FRANCO,IVANNA DEL CARMEN,<NA>,<NA>,<NA>,<NA>,<NA>
25597412,Flores,Claudia Elisabet,<NA>,<NA>,<NA>,<NA>,<NA>
36645447,GAZCÓN,SILVANA,<NA>,<NA>,<NA>,<NA>,<NA>
41244192,GIMENEZ,GUADALUPE DENISE,<NA>,<NA>,<NA>,<NA>,<NA>
44303225,GUTIERREZ,BRISA,<NA>,<NA>,<NA>,<NA>,<NA>
28897921,HOSTACHE,VALERIA ANAHÍ,<NA>,<NA>,<NA>,<NA>,<NA>
25358984,LARROUDÉ,FLAVIA INÉS,<NA>,<NA>,<NA>,<NA>,<NA>
22389320,LOPEZ,ALBA ESTER,<NA>,<NA>,<NA>,<NA>,<NA>
46634964,LOZA,ROCIO CELESTE,<NA>,<NA>,<NA>,<NA>,<NA>
23816071,LUNA,HÉCTOR ALEJANDRO,<NA>,<NA>,<NA>,<NA>,<NA>
35304509,MAIDANA,MAIRA ELIZABET,<NA>,<NA>,<NA>,<NA>,<NA>
42592027,MARTEL,PRISCILA MILAGROS,<NA>,<NA>,<NA>,<NA>,<NA>
38081533,MIÑO,EZEQUIEL NICOLAS,<NA>,<NA>,<NA>,<NA>,<NA>
44643021,MORENO,NAIARA AYLEN,<NA>,<NA>,<NA>,<NA>,<NA>
37598696,PABON,DANIELA SOLANGE,<NA>,<NA>,<NA>,<NA>,<NA>
42592176,PAREDES,BRENDA AGOSTINA,<NA>,<NA>,<NA>,<NA>,<NA>
46631605,PERALTA,AGOSTINA NAIR,<NA>,<NA>,<NA>,<NA>,<NA>
45581853,REVOLLO HUMACATA,LUCIANA DULCE MORENA,<NA>,<NA>,<NA>,<NA>,<NA>
10704463,RODRIGUEZ,ELBA SUSANA,<NA>,<NA>,<NA>,<NA>,<NA>
24028297,SANCHEZ,MARÍA JIMENA,<NA>,<NA>,<NA>,<NA>,<NA>
22477158,SANTA CRUZ,ESTELA FRANCISCA,<NA>,<NA>,<NA>,<NA>,<NA>
18889141,SANTINI GAMARRA,ROBERT LEONEL,<NA>,<NA>,<NA>,<NA>,<NA>
48090839,SCORSA,SOFIA CAMILA,<NA>,<NA>,<NA>,<NA>,<NA>
47086022,SOSA NIEVAS,KEVIN RODRIGO,<NA>,<NA>,<NA>,<NA>,<NA>
31606467,Segovia,Tobias,<NA>,<NA>,<NA>,<NA>,<NA>
43506094,TORRES,CANDELA XIMENA,<NA>,<NA>,<NA>,<NA>,<NA>
18097000,VERON,MONICA ADRIANA,<NA>,<NA>,<NA>,<NA>,<NA>

In [53]:
n_filas = len(df)  # Obtener el número de filas del DataFrame
nota_minima = 0
nota_maxima = 10

# Llenar la columna 'primer_parcial'
df['primer_parcial'] = [random.randint(nota_minima, nota_maxima) for _ in range(n_filas)]

# Llenar la columna 'segundo_parcial'
df['segundo_parcial'] = [random.randint(nota_minima, nota_maxima) for _ in range(n_filas)]

df

,Apellido,Nombre,primer_parcial,segundo_parcial,final,recuperatorio,condicion
Legajo,,,,,,,
17895036,ABALLAY,MARIA CECILIA,2,7,<NA>,<NA>,<NA>
45929002,ACEVEDO,ZOE AYELEN,7,10,<NA>,<NA>,<NA>
44150294,ANDRADE,MILAGROS MAKARENA,8,4,<NA>,<NA>,<NA>
41139248,ASCUY,LOURDES SABRINA,6,9,<NA>,<NA>,<NA>
35606734,ASTUDILLO,GISELE,4,9,<NA>,<NA>,<NA>
45371034,AYALA VARGAS,SANTIAGO EZEQUIEL,4,3,<NA>,<NA>,<NA>
42881680,Almirón,Karen,3,4,<NA>,<NA>,<NA>
34020115,BAREIRO,VICTOR DAMIAN,8,8,<NA>,<NA>,<NA>
22230623,BENÍTEZ,ELISA SUSANA,7,0,<NA>,<NA>,<NA>
18342032,BRAVO,VÌCTOR HUGO,1,4,<NA>,<NA>,<NA>
45778649,CABRERA,KIARA,3,7,<NA>,<NA>,<NA>
43252030,CASIMIRO,CAMILA ANAHÍ,8,3,<NA>,<NA>,<NA>
43325806,CASTRO,ORIANA BELÉN,1,1,<NA>,<NA>,<NA>
40378419,CHAVEZ,CAMILA JEANETTE,5,10,<NA>,<NA>,<NA>
23974815,CUELLO,CLAUDIA MARCELA,4,0,<NA>,<NA>,<NA>
48090866,DECHANDT,MELANIE MAGALI,9,3,<NA>,<NA>,<NA>
33294648,DIAZ,ELIZABETH,2,0,<NA>,<NA>,<NA>
46644093,ESCOBAR,PRISCILA ABIGAIL,6,6,<NA>,<NA>,<NA>
30251899,FERNANDEZ,ELIANA VANESA,10,9,<NA>,<NA>,<NA>
35754004,FERRERO,MICAELA ESTHER,1,9,<NA>,<NA>,<NA>
47399148,FLEITAS,ALEXIS ALEJANDRO,0,4,<NA>,<NA>,<NA>
38943323,FRANCO,IVANNA DEL CARMEN,0,8,<NA>,<NA>,<NA>
25597412,Flores,Claudia Elisabet,8,4,<NA>,<NA>,<NA>
36645447,GAZCÓN,SILVANA,5,8,<NA>,<NA>,<NA>
41244192,GIMENEZ,GUADALUPE DENISE,9,4,<NA>,<NA>,<NA>
44303225,GUTIERREZ,BRISA,1,8,<NA>,<NA>,<NA>
28897921,HOSTACHE,VALERIA ANAHÍ,3,0,<NA>,<NA>,<NA>
25358984,LARROUDÉ,FLAVIA INÉS,7,2,<NA>,<NA>,<NA>
22389320,LOPEZ,ALBA ESTER,7,5,<NA>,<NA>,<NA>
46634964,LOZA,ROCIO CELESTE,5,3,<NA>,<NA>,<NA>
23816071,LUNA,HÉCTOR ALEJANDRO,4,2,<NA>,<NA>,<NA>
35304509,MAIDANA,MAIRA ELIZABET,8,10,<NA>,<NA>,<NA>
42592027,MARTEL,PRISCILA MILAGROS,8,1,<NA>,<NA>,<NA>
38081533,MIÑO,EZEQUIEL NICOLAS,7,5,<NA>,<NA>,<NA>
44643021,MORENO,NAIARA AYLEN,2,0,<NA>,<NA>,<NA>
37598696,PABON,DANIELA SOLANGE,5,3,<NA>,<NA>,<NA>
42592176,PAREDES,BRENDA AGOSTINA,0,6,<NA>,<NA>,<NA>
46631605,PERALTA,AGOSTINA NAIR,10,0,<NA>,<NA>,<NA>
45581853,REVOLLO HUMACATA,LUCIANA DULCE MORENA,8,9,<NA>,<NA>,<NA>
10704463,RODRIGUEZ,ELBA SUSANA,2,3,<NA>,<NA>,<NA>
24028297,SANCHEZ,MARÍA JIMENA,4,0,<NA>,<NA>,<NA>
22477158,SANTA CRUZ,ESTELA FRANCISCA,0,10,<NA>,<NA>,<NA>
18889141,SANTINI GAMARRA,ROBERT LEONEL,3,2,<NA>,<NA>,<NA>
48090839,SCORSA,SOFIA CAMILA,1,9,<NA>,<NA>,<NA>
47086022,SOSA NIEVAS,KEVIN RODRIGO,1,5,<NA>,<NA>,<NA>
31606467,Segovia,Tobias,8,8,<NA>,<NA>,<NA>
43506094,TORRES,CANDELA XIMENA,9,4,<NA>,<NA>,<NA>
18097000,VERON,MONICA ADRIANA,1,5,<NA>,<NA>,<NA>